section.about
	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id placeat quia dignissimos minus nulla, molestiae, iste. Minus quod id sint, necessitatibus voluptatibus quos vitae tenetur consequuntur error qui cum?

		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, facilis, iusto. Obcaecati accusantium illo consectetur, recusandae omnis necessitatibus tenetur odit accusamus deserunt consequatur sequi maiores porro exercitationem doloremque eos voluptate.





section.youtube
	.flex.flex--space-around
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id placeat quia dignissimos minus nulla, molestiae, iste. Minus quod id sint, necessitatibus voluptatibus quos vitae tenetur consequuntur error qui cum?

		.col-1.order-first
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, facilis, iusto. Obcaecati accusantium illo consectetur, recusandae omnis necessitatibus tenetur odit accusamus deserunt consequatur sequi maiores porro exercitationem doloremque eos voluptate.			



	section.youtube
	.flex.flex--center
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id placeat quia dignissimos minus nulla, molestiae, iste. Minus quod id sint, necessitatibus voluptatibus quos vitae tenetur consequuntur error qui cum?

section.youtube
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id placeat quia dignissimos minus nulla, molestiae, iste. Minus quod id sint, necessitatibus voluptatibus quos vitae tenetur consequuntur error qui cum?

		.col-50
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, facilis, iusto. Obcaecati accusantium illo consectetur, recusandae omnis necessitatibus tenetur odit accusamus deserunt consequatur sequi maiores porro exercitationem doloremque eos voluptate.			



