section.youtube
	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet id placeat quia dignissimos minus nulla, molestiae, iste. Minus quod id sint, necessitatibus voluptatibus quos vitae tenetur consequuntur error qui cum?
		.col-1.order-first
			p.home-lead.outdented ...teaching everyone how to make websites on YouTube
			a(href="").home-cta Watch on YouTube