@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}

@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

::selection {
  background: #FFF498;
}

::-moz-selection {
  background: #FFF498;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #FFF498;
}

a {
  color: #F97A7A;
  text-decoration: none;
  outline: 0;
}

a:hover,
a:focus {
  color: #40a6ff;
}

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
}

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 1.14;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38;
}

.big, h4 {
  font-size: 22px;
  line-height: 1.38;
}

.small, small {
  font-size: 10px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
.button:active,
.button:focus,
button:hover,
button:active,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.name-lockup {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.fork-tag {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #0074D9;
  color: white;
  padding: 2px 6px;
  transition: all 0.3s ease-in-out;
  transform-origin: top right;
}

.fork-tag:hover {
  color: white;
  animation: wiggle 0.4s linear 1;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.home-wrap header {
  width: 135px;
  background: white;
  padding: 30px 0;
}

.home-wrap header .header-position {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 30px;
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-wrap header .logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 135px;
  background-image: url(/assets/img/logo-tn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;
  margin: 0;
  padding: 0;
}

.home-wrap header .site-nav ul {
  list-style: none;
  margin: 20px 0;
  padding: 0 20px 0 0;
  text-align: right;
}

.home-wrap header .site-nav ul li {
  margin-bottom: 10px;
}

.home-wrap header .site-nav ul li:last-child {
  margin-bottom: 0;
}

.home-wrap header .email-link {
  display: block;
  text-align: right;
  padding-right: 20px;
}

.home-wrap header .mobile-nav-toggle {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  cursor: pointer;
}

.home-wrap header .mobile-nav-toggle span,
.home-wrap header .mobile-nav-toggle span:before,
.home-wrap header .mobile-nav-toggle span:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.home-wrap header .mobile-nav-toggle span:before {
  top: 15px;
}

.home-wrap header .mobile-nav-toggle span:after {
  top: -17px;
}

.home-wrap header .mobile-nav-toggle.is-open span {
  background: transparent;
}

.home-wrap header .mobile-nav-toggle.is-open span:before,
.home-wrap header .mobile-nav-toggle.is-open span:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.home-wrap header .mobile-nav-toggle.is-open span:before {
  transform: rotate(-45deg);
}

.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: white;
  padding: 30px 0 20px 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.home-wrap .mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-wrap .mobile-nav ul li {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 775px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0;
  }
  .home-wrap header .header-position {
    width: auto;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    flex-direction: row;
    align-items: center;
  }
  .home-wrap header .site-nav,
  .home-wrap header .email-link {
    display: none;
  }
  .home-wrap header .logo {
    height: 45px;
  }
  .home-wrap header .mobile-nav-toggle {
    display: flex;
  }
  .home-wrap .mobile-nav.is-open {
    display: block;
    transform: translateY(0%);
  }
}

section.about {
  background-image: url(../img/about-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3f3f42;
}

section.about h2 {
  color: #3f3f42;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  margin-left: -108px;
  margin-top: 0;
}

section.about .home-lead {
  padding-bottom: 180px;
}

@media (max-width: 640px) {
  section.about h2, section.about .home-lead {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

body {
  background-color: #ddd;
  overflow-x: hidden;
}

.page-home {
  text-align: center;
}

.page-home section {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.page-home section:first-child {
  background-image: url(../img/tools.png);
  background-position: center;
}

.page-home section h1 {
  font-weight: 700;
  line-height: 1;
  margin: 20px 0;
  letter-spacing: 1px;
}

.page-home img {
  max-width: 100%;
}

.page-home .flex-video-wrap {
  max-width: 640px;
  display: inline-block;
  width: 100%;
}

.page-home pre {
  text-align: left;
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
  color: #d0d0d0;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
  pointer-events: none;
}

@media (max-width: 500px) {
  .page-home pre {
    font-size: 20px;
  }
}

.page-home article {
  margin-bottom: 50px;
}

.page-home article:last-child {
  margin-bottom: 0px;
}

.home-wrap {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 775px) {
  .home-wrap {
    display: block;
  }
}

.home-sections {
  flex: 1;
}

.home-sections section {
  padding: 50px 0;
}

.home-sections .flex {
  display: flex;
  flex-direction: row;
}

.home-sections .flex--center {
  justify-content: center;
}

.home-sections .flex--space-around {
  justify-content: space-around;
}

.home-sections .order-first {
  order: -1;
}

.col-1 {
  max-width: 300px;
  margin: 0 10px;
}

.col-2 {
  max-width: 620px;
  margin: 0 10px;
}

.col-50 {
  width: 50%;
}

.push-right {
  margin-left: 330px;
}

@media (max-width: 640px) {
  .home-sections .flex {
    display: block;
  }
  .col-1 {
    max-width: 100%;
  }
  .col-50 {
    width: auto;
  }
  .push-right {
    margin-left: 10px;
  }
}

.home-lead {
  font-size: 36px;
  line-height: 1.1;
}
